/cah20_a/*
!/cah20_a/cah20.data
!/cah20_a/cah20.f
!/cah20_a/cah20.inp
!/cah20_a/readout.py
/cah20_b/*
!/cah20_b/cah20.data
!/cah20_b/cah20.f
!/cah20_b/cah20.inp
!/cah20_b/readout.py
/cah20_c/*
!/cah20_c/cah20.data
!/cah20_c/cah20.f
!/cah20_c/cah20.inp
!/cah20_c/readout.py
/cah20_d/*
!/cah20_d/cah20.data
!/cah20_d/cah20.f
!/cah20_d/cah20.inp
!/cah20_d/readout.py